@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.dashboard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.main-header {
  /* max-width: 1920px; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* position: absolute;
    top: 0; */
  background-color: #151718;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
  height: 12%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}
.main-header-logo-icon {
  display: flex;
  align-items: center;
}
.header-logo {
}
.hamburger,
.facilitator-mobile-menu {
  display: none;
}
.header-right {
  display: flex;
  align-items: center;
  padding: 0 0;
}

.side-bar-open,
.side-bar-close {
  width: 100%;
}

.side-bar {
  position: fixed;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fff;
  padding-top: 15%;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  transition: 0.4s;
  z-index: 99;
}

.side-bar-list {
  padding: 0.5rem;
  /* border-bottom: 0.5px solid black; */
  background-color: #fff;
}

.menu-item {
  padding: 10px;
  border-radius: 8px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item:hover {
  background-color: #b3b3b3;
  padding-right: 20px;
}

.menu-item:hover .arrow {
  background-color: #3d7fff;
  border-radius: 50%;
}

.menu-item .arrow {
  padding: 5px;
}

.sidebar-main::-webkit-scrollbar {
  width: 3px;
  background: #e4e9f2;
}

.sidebar-main::-webkit-scrollbar-thumb {
  background: #e4e9f2;
  cursor: pointer;
  border-radius: 0.15625rem;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3 !important;
  border-radius: 0.063rem !important;
}
::-webkit-scrollbar {
  width: 0.188rem !important;
  height: 0.188rem !important;
}

.side-bar-open .side-bar {
  display: block;
  transition: 0.4s;
}

.side-bar-close .side-bar {
  display: none;
  transition: 0.4s;
}

.main-page {
  width: 100%;
  height: auto;
  min-height: 70vh;
  padding-top: 7%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: #f2f1ea;
}

.banner {
  width: 100%;
  height: 23rem;
  padding-top: 8%;
  background-color: #121d42;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  position: relative;
}

.banner-content h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05rem;
}

.analytics {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.analytics .analytics-grp {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 0.3rem;
  color: #cdcdcd;
  font-size: 0.7rem;
}

.analytics .analytics-grp .analytics-icon {
  width: 1.2rem;
  height: 1rem;
  color: #cdcdcd;
}

.coding-icon {
  position: absolute;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.5rem;
  top: 33%;
}

.coding-icon .code-ic {
  width: 4rem;
  height: 4rem;
  color: #df3276;
}

.welcome-box {
  position: absolute;
  width: 80%;
  bottom: -50%;
  right: 10%;
}

.welcome-card-action {
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  top: 33.33%;
  bottom: 33.33%;
  right: 1rem;
  border: 0.1rem solid #121d42;
  border-radius: 50%;
}

.welcome-card-action .syllabus-icon {
  width: 2rem;
  height: 2rem;
  color: #121d42;
}

.course-completion .completion-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.course-overview h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.course-overview p {
  text-align: justify;
  padding-bottom: 0.5rem;
}

.course-card {
  margin-top: 1rem;
}

.course-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.module-trigger {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.lesson-trigger {
  padding-left: 1.6rem;
  padding-right: 1rem;
  text-align: left;
}

.lesson-content {
  padding-left: 1.6rem;
  padding-right: 1rem;
  text-align: left;
}

.reference-link {
  color: #3d7fff;
}

.options {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input-field {
  padding: 1rem;
}

.course-learn-page h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.course-learn-page p {
  overflow: scroll;
}

.facilitator-menu-list li,
.menu-icon {
  transition: 0.5s;
  cursor: pointer;
}

.facilitator-menu-list li:hover .menu-icon {
  color: #df3276;
}

.scroll {
  max-height: 30vh;
}

.student-table-row:hover {
  cursor: pointer;
}

/* .add-new-module {
    display: flex;
} */

/* .hm-submit-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
} */

/* Add this CSS to your styles */
.toolbar {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.25rem;
  background: transparent;
  border-radius: 0.25rem;
}

.submenu {
  display: none; /* Hide by default */
}

.more-btn {
  display: none;
}

@media (max-width: 768px) {
  .toolbar {
    flex-wrap: wrap;
  }
  .more-btn {
    display: inline-flex;
  }
  .submenu {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding: 0.25rem;
    background: transparent;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
  }
}

/* Mobile Size */
@media only screen and (max-width: 667px) {
  .hamburger {
    display: block;
    cursor: pointer;
    transition: 0.4s;
  }
  .facilitator-mobile-menu {
    display: block;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    margin-top: 1rem;
  }
  .hamburger1 {
    position: absolute;
    right: 0;
    bottom: 50%;
  }
  .header-logo {
    display: none;
  }

  .main-page {
    padding-top: 24%;
    width: 100%;
  }

  .discout-card {
    padding-top: 24%;
  }

  .banner {
    width: 100%;
    height: 23rem;
    padding-top: 23%;
    background-color: #121d42;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    position: relative;
  }

  .banner-content h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05rem;
  }

  .analytics {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .analytics .analytics-grp {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 0.3rem;
    color: #cdcdcd;
    font-size: 0.7rem;
  }

  .analytics .analytics-grp .analytics-icon {
    width: 1.2rem;
    height: 1rem;
    color: #cdcdcd;
  }

  .coding-icon {
    position: absolute;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.5rem;
    top: 45%;
  }

  .coding-icon .code-ic {
    width: 4rem;
    height: 4rem;
    color: #df3276;
  }

  .welcome-box {
    position: absolute;
    width: 80%;
    bottom: -15%;
    right: 10%;
  }

  .scroll {
    max-height: 35vh;
  }
}

/* Tab Medium devices Size */
@media only screen and (min-width: 668px) and (max-width: 960px) {
  .main-page {
    padding-top: 15%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }

  .welcome-box {
    position: absolute;
    width: 80%;
    bottom: -15%;
    right: 10%;
  }

  .banner {
    padding-left: 5rem;
    width: 100%;
  }

  .coding-icon {
    right: 8rem;
    top: 41%;
  }
}

@media only screen and (min-width: 960px) {
  .main-header {
    padding-left: 12rem;
    padding-right: 12rem;
    width: 100%;
  }
  .main-page {
    padding-top: 8%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 100%;
  }

  .welcome-box {
    position: absolute;
    width: 70%;
    bottom: -15%;
    right: 15%;
  }

  .banner {
    padding-left: 14rem;
    width: 100%;
  }

  .coding-icon {
    right: 15rem;
    top: 45%;
  }
}

/*Loader*/
.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
.facilitator-menu-list li.active {
  border-left: 4px solid #df3276;
  background-color: #e2e8f0;
  font-weight: bold;

  color: #333;
}

.facilitator-menu-list li.active-icon {
  color: #4a90e2;
}

.facilitator-menu-list li:hover {
  background-color: #f0f4f8;
}

.facilitator-menu-list li {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
}

/* General styles for pagination buttons */
.pagination-item {
  display: inline-block;
  margin: 0 2px; /* Reduced margin for smaller screens */
}

.pagination-link {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #121d42;
  cursor: pointer;
  font-size: 12px; /* Smaller font size for smaller screens */
  padding: 6px 12px; /* Reduced padding for smaller screens */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.pagination-link:hover:not(.disabled) {
  background-color: #e9ecef;
}

.pagination-link.active {
  background-color: #df3276;
  color: #fff;
  border-color: #df3276;
}

.pagination-link.disabled {
  color: #6c757d;
  cursor: not-allowed;
  border-color: #6c757d;
  background-color: #f8f9fa;
}

.pagination-ellipsis {
  font-size: 12px; /* Smaller font size for smaller screens */
  color: #6c757d;
  padding: 6px 8px; /* Reduced padding for smaller screens */
}

/* Responsive styles */
@media (max-width: 600px) {
  .pagination-link {
    font-size: 10px; /* Even smaller font size for very small screens */
    padding: 4px 6px; /* Reduced padding for very small screens */
  }

  .pagination-ellipsis {
    font-size: 10px; /* Smaller font size for very small screens */
    padding: 4px 6px; /* Reduced padding for very small screens */
  }
}

@media (max-width: 400px) {
  .pagination-item {
    margin: 0 1px; /* Minimal margin for very small screens */
  }
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table-cell-id {
  width: 150px; /* Fixed width for the cell */
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.table-header-dark {
  color: #151718;
  font-weight: 600;
}
.module-form {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.module-selector {
  flex: 3;
}

.new-module {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-module h2 {
  display: block;
}

@media (max-width: 640px) {
  .module-form {
    flex-direction: row;
    align-items: center;
  }

  .module-selector {
    width: 75%;
  }

  .new-module {
    width: 25%;
  }

  .new-module h2 {
    display: none;
  }

  .new-module .plus-icon {
    font-size: 24px;
  }
}

.lesson-form {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.select-lesson {
  flex: 3;
}

.new-lesson {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-lesson h2 {
  display: block;
}

@media (max-width: 640px) {
  .lesson-form {
    flex-direction: row;
    align-items: center;
  }

  .select-lesson {
    width: 75%;
  }

  .new-lesson {
    width: 25%;
  }

  .new-lesson h2 {
    display: none;
  }

  .new-lesson .plus-icon {
    font-size: 24px;
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.nav-link {
  position: relative;
  margin: 0 15px;
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #df3276;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  transform: none;
}

.nav-link.active {
  color: #df3276;
}

.nav-link.active::after {
  width: 100%;
  background: #df3276;
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

/* Page.css */
.page-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f1ea;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.background {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: #3f51b5;
}

.background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .profile-container {
    width: 90%;
    margin-top: -30px;
    height: 250px;
  }
}

.background.hidden {
  display: none;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  position: relative;
  z-index: 10;
  width: 30%;
  height: 250px;
}
.icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-right-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.profile-info {
  margin-bottom: 10px;
  border: 3px solid #151718;
  border-radius: 50%;
  padding: 3px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-details {
  text-align: center;
}

.profile-details h2 {
  margin: 0;
  font-weight: 700;
}

.acc-id-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc_id {
  color: #666;
  margin-right: 8px;
}

.copy-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile-container {
    width: 90%;
    margin-top: -90px;
    height: 250px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 1024px) {
  .profile-container {
    width: 50%;
    margin-top: -90px;
    height: 250px;
  }
}
/* toastStyles.css */
/* .custom-toast {
  background-color: #6a5acd !important; 
  color: white !important;
  border-radius: 12px !important;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Toastify__toast-container {
  position: absolute;
  top: -20px; 
  right: 0;
  z-index: 1000;
}

.Toastify__toast {
  background: none;
  box-shadow: none;
  padding: 0;
}

.Toastify__toast-body {
  margin: 0;
  padding: 0;
}

.Toastify__close-button {
  display: none;
} */

/* Container for the toast */
.toast-container {
  position: absolute;
  bottom: 130%; /* Position it above the copy icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #e91e63; /* Change to your desired color */
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hidden */
  z-index: 1000;
}

/* Show the toast */
.toast-container.show {
  display: block;
}

/* Create the small downward triangle */
.toast-container::after {
  content: "";
  position: absolute;
  top: 100%; /* Position the triangle at the bottom of the toast */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #e91e63; /* Match the toast background color */
}

/* NearProfileDetails.css */
.account-settings {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  box-sizing: border-box;
  margin-top: 80px;
}

.settings-header {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
}

.btn.settings {
  display: flex; /* Use flexbox to align items inside the button */
  align-items: center;
  background-color: #df3276;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.settings .chevron-icon {
  margin-right: 5px; /* Add some space between the icon and text */
}

.user-info {
  margin: 20px 0;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form-group label {
  width: 30%;
  margin-right: 10px;
  text-align: left;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 65%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #df3276; /* Change border color on focus */
  outline: none; /* Remove default outline */
}
textarea {
  resize: none; /* Allow vertical resizing */
}
.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Space between buttons */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.save {
  background-color: #4caf50;
  color: white;
}
.btn.save:hover {
  background-color: #45a049; /* Darker shade of green */
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    text-align: left; /* Align text to the left */
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }
  .account-settings {
    width: 95%;
    margin-top: 130px; /* Adjust if needed */
  }
}
@media (max-width: 480px) {
  .account-settings {
    width: 100%;
    margin-top: 120px;
    padding: 15px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 1024px) {
  .account-settings {
    width: 80%;
    margin-top: 180px;
    padding: 15px;
  }
}

/* active icon for toolbar icons */
.activeIcon {
  background-color: #cdcdcd;
}

.nft-badge {
  position: absolute;
  top: 15px; 
  left: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid black;
  width: max-content;
}

.circle {
  width:30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.nft-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nft-badge {
    padding: 3px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }

  .rectangle {
    font-size: 6px;
  }
}

@media (max-width: 480px) {
  .nft-badge {
    padding: 3px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }

  .rectangle {
    font-size: 6px;
  }
}
.social-links {
  position: absolute;
  background-color: #1e293b;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  z-index: 10;
  width: 200px;
  height: 60px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Hide content overflow */
}

.social-links-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.header-text {
  font-size: 14px;
  font-weight: bold;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none; /* Initially hidden */
  flex-direction: row;
  justify-content: center; /* Center the icons */
}

.social-link {
  margin: 0 30px;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

/* Rotate the icon and expand the list when the links are shown */
.social-links.expanded .icon {
  transform: rotate(45deg);
}

.social-links.expanded .header-text {
  opacity: 0;
  transform: translateX(-10px); /* Shift text to make room for icons */
}

.social-links.expanded .social-links-list {
  opacity: 1;
  display: flex; /* Show the icons */
}
.register-button {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center;     /* Centers the button vertically, if needed */
  width: 100%;             /* Ensures the footer takes up the full width */
}
